.contenedor1 {
    background-color: rgb(134, 200, 229);
    height: 50px;
    width: 850px;
    border-radius: 5px;
    text-align: center;
    }
.contenedor2 {
    background-color: #ffffff;
    height: 500px;
    width: 850px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    
/* .centrado{
    display: flex;
    justify-content: center;
    align-items: center;
} */